{% extends "layout.html" %}

{% block heading %}
    <script src="{{ url_for('static', filename='mainpage.js') }}"></script>
    <div class="text-center mx-auto">
        <h1>Flack
          <small class="text-muted">Instant Channel Messaging</small>
        </h1>
   </div>
    <script>
        function hoverMessage(message){
            var re = /^@([a-z]*):/gi;
            var str = message.innerText;
            var user = re.exec(str);
            if(localStorage.getItem('username') == user[1]){
                var deleteButton= message.getElementsByTagName("button")[0];
                deleteButton.style.display = "block";
                deleteButton.onclick = function() {
                    this.parentElement.remove();
                }
            }

        }
        function normalMessage(message){
            message.getElementsByTagName("button")[0].style.display = "none";
        }
    </script>
{% endblock %}

{% block body %}

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Pick a username</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input id="usr" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            <button id="saveusr" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

     <!-- Modal -->
    <div class="modal fade" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create a Channel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                  </div>
                  <input id="channel_name" type="text" class="form-control" placeholder="Channel name" aria-label="channel_name" aria-describedby="basic-addon1">
              </div>
              <div id="channel_alert" class="alert alert-danger" role="alert" style="display: none;"></div>
          </div>
          <div class="modal-footer">
            <button id="channel_done" type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            <button id="savechannel" type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

<div class="h-100 d-flex" id="page_container">
          <div class="w-25 flex-column">
            <div class="list-group" id="list-tab" role="tablist">
              <h4 id="username" class="text-muted ml-3"></h4>
              <button id="createChannel" type="button" class="btn btn-light" data-toggle="modal" data-target="#channelModal">
                   <h4 class="text-muted">+</h4>
              </button>
                {% for dict_item in channel_messages %}
                      <a class="list-group-item list-group-item-action" id="{{dict_item}}" data-toggle="list" href="#{{dict_item}}tab" role="tab" aria-controls="home">{{dict_item}}</a>
                {% endfor %}
            </div>
          </div>
         <div class="pl-5 w-100 d-flex flex-column" id="testtest">
                <div id="messages">
                    <div class="w-50 tab-content" id="nav-tabContent">

                                  {% for dict_item in channel_messages %}
                                        <div class="tab-pane fade" id="{{dict_item}}tab" role="tabpanel" aria-labelledby="{{dict_item}}">
                                      {%  for item in channel_messages[dict_item] %}
                                            <p onmouseenter="hoverMessage(this)" onmouseleave="normalMessage(this)">@<b>{{ item['sender'] }}: </b>{{ item['message'] }}
                                                <b id="time">{{ item['timestamp'] }}</b>
                                                <button type="button">delete</button>
                                            </p>
                                      {% endfor %}
                                        </div>
                                  {% endfor %}
                    </div>
                </div>
                <div class="mt-auto w-75" id="messageInput" >
                    <div class="form-group">
                          <label for="exampleFormControlTextarea3">Message</label>
                          <textarea id="message_send" class="form-control" id="exampleFormControlTextarea3" rows="1"></textarea>
                          <button id="message_submit" type="button" class="btn btn-primary">Send</button>
                    </div>
                </div>
         </div>

</div>




{% endblock %}