
html, body {
    height: 95%;
}


h1{
    border-bottom: solid silver;
}
p {
	// layout
	position: relative;
	max-width: 60em;
	min-width: 10em;
    word-wrap: break-word;
	// looks
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 0.75em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

p::before {
	// layout
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; // offset should move with padding of parent
	border: .75rem solid transparent;
	border-top: none;

	// looks
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}
p > footer {
    float: right;
    font-size: 0.75em;
    margin: 3.5px;
}
#time{
    float: right;
    font-size: 0.75em;
    margin: 3.5px;
}
#testtest{
    border-left: solid silver;
    overflow:auto;
}
#messageInput{
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}
#list-tab{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  overflow:auto;
}
#page_container{
 overflow:auto;
}
.scroll {
    overflow: scroll;
}

