.container {
   margin-left: 0px;
}
.col-3, div.row{
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
}
.col-3, .col-9{
    border: solid silver;
}
html, body, .channelMessageContainer{
    height: 100%;
    margin: 0;
    padding: 0;
}
#message_container {
    position: relative;
}
#message_input {
    position: absolute;
    bottom: 0;
    width: 90%;
}
p {
	// layout
	position: relative;
	max-width: 30em;

	// looks
	background-color: #fff;
	padding: 1.125em 1.5em;
	font-size: 0.75em;
	border-radius: 1rem;
  box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

p::before {
	// layout
	content: '';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 100%;
	left: 1.5em; // offset should move with padding of parent
	border: .75rem solid transparent;
	border-top: none;

	// looks
	border-bottom-color: #fff;
	filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}